@model ASM.ViewModels.CreateProductViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
<h1 class="mt-4">Details</h1>
<ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="GetAllProduct" asp-controller="Product">Trang chủ</a></li>
    <li class="breadcrumb-item active">Danh Sách Product</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới Product</a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                        <img src="~/images/@Model.ImgUrl" alt="Product Image" class="img-fluid" style="max-height: 300px;" />
                </div>
                <div class="col-md-8">
                    <h4>@Model.NameProduct</h4>
                    <p><strong>Description:</strong> @Model.Description</p>
                    <p><strong>Usage:</strong> @Model.CachDung</p>
                    <p><strong>Notes:</strong> @Model.LuuY</p>
                    <p><strong>Brand:</strong> @Model.ThuongHieu</p>
                    <p><strong>Manufacturer:</strong> @Model.Photo</p>
                    <p><strong>Expiration Date:</strong> @Model.Hsd</p>
                    <p><strong>Ingredients/Components:</strong> @Model.ThongTinThanhPhan</p>
                    <p><strong>Uses:</strong> @Model.CongDungThuoc</p>
                    <p><strong>Category:</strong> @Model.CategoryName</p>
                    <p><strong>Price:</strong> @Model.Price</p>
                    <p>
                            <a asp-action="Update" asp-route-id="@Model.ProductId" asp-controller="Product" class="btn btn-primary">Update</a>

                            <a asp-action="Delete" asp-route-id="@Model.ProductId" asp-controller="Product" class="btn btn-danger">Delete</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>